html {
  margin:0;
  padding:0;
  height:100%;
}

body {
  background:  #333;
  font-family: "Arial";
  color: #ddd;
  margin:0;
  padding:0;
  height:100%;
}

button:focus {
  outline:0;
}

select:focus {
  outline:0;
}

a {
  color: #ddd;
  text-decoration: none;
}

span:hover {
  cursor: pointer;
}

#root {
  height: 100%;
}

.frame {
  text-align: center;
  height: 100%;
}

.contents {
  background:  #424242;
  display: inline-block; 
  text-align: left;
  border-left:  1px solid;
  border-right:  1px solid;
  border-color: #999;
  padding: 0 1%;
  height: 100%;
}

.navbar {
  border-bottom: 1px solid;
  border-color:  #999;
}

.navtab {
  background:  #424242;
  border-radius: 4px 4px 0px 0px;
  border-color:  #999;
  border: 1px solid;
  border-bottom: 0px solid;
  color: #ddd;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 5px;
  position: relative;
  margin: 0 4px 0 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.descriptors {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.descriptors li {
  float: left; 
}

.btn-reroll {
  background: darkred; 
  border: none;
  border-radius: 50%;
  color: #ddd;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 7px;
  position: relative;
  margin: 0 10px 10px 0;
  text-align:  center;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

/* deprecated, remove later */
.descriptor-old {
  border-radius: 4px;
  color: #ddd;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 5px;
  position: relative;
  margin: 0 4px 4px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.descriptor {
  border-radius: 2px;
  border-bottom: 2px solid;
  color: #ddd;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 5px;
  position: relative;
  margin: 0 4px 4px 0;
  text-decoration: none;
  -webkit-transition: color 0.5s;
}

.descriptor:active {
  -webkit-transition: color 0s;
  color: #424242;
}

.descriptor:active::after {
  color: #eee; 
}

.filter {
  display: inline-block;
}

.filter-toggle {
  border-radius: 4px 0 0 4px;
  color: #ddd;
  display: inline-block;
  height: 26px;
  line-height: 24px;
  padding: 0 0 0 5px;
  position: relative;
  margin: 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.filter-select {
  border-radius: 0 4px 4px 0;
  color: #ddd;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 5px 0 2px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

/* Filter Colors */
.age { background: crimson; border-color: crimson; }
.clothing { background: hotpink; border-color: hotpink; }
.color { background: goldenrod; border-color: goldenrod; }
.condition { background: darkcyan; border-color: darkcyan; }
.eyes { background: springgreen; border-color: springgreen; }
.gender { background: rosybrown; border-color: rosybrown; }
.height { background: tan; border-color: tan; }
.material { background: forestgreen; border-color: forestgreen; }
.item { background: steelblue; border-color: steelblue; }
.type { background: steelblue; border-color: steelblue; } /* type is a filter for the item descriptor */
.namefirst { background: olivedrab; border-color: olivedrab; }
.namelast { background: olive; border-color: olive; }
.personality { background: mediumvioletred; border-color: mediumvioletred; }
.race { background: orangered; border-color: orangered; }
.size { background: mediumpurple; border-color: mediumpurple; }

/* Descriptor Colors */
.age-desc { border-color: crimson; }
.clothing-desc { border-color: hotpink; }
.color-desc { border-color: goldenrod; }
.condition-desc { border-color: darkcyan; }
.eyes-desc { border-color: springgreen; }
.gender-desc { border-color: rosybrown; }
.height-desc { border-color: tan; }
.material-desc { border-color: forestgreen; }
.item-desc { border-color: steelblue; }
.namefirst-desc { border-color: olivedrab; }
.namelast-desc { border-color: olive; }
.personality-desc { border-color: mediumvioletred; }
.race-desc { border-color: orangered; }
.size-desc { border-color: mediumpurple; }