html {
  margin:0;
  padding:0;
  height:100%;
}

body {
  background:  #748baf;
  font-family: "Arial";
  color: #333;
  margin:0;
  padding:0;
  height:100%;
}

button:focus {
  outline:0;
}

select:focus {
  outline:0;
}

a {
  color: #222;
  text-decoration: none;
}

span:hover {
  cursor: pointer;
}

.btn-reroll:hover {
  cursor: pointer;
}

.btn-filter:hover {
  cursor: pointer;
}

.filter-opt:hover {
  cursor: pointer;
}

#root {
  height: 100%;
}

.frame {
  text-align: center;
  height: 100%;
}

.contents {
  background:  #fefefe;
  display: inline-block; 
  text-align: left;
  border-left:  2px solid;
  border-right:  2px solid;
  border-color: #000;
  height: 100%;
  max-width: 700px;
  min-height: 800px;
}

.navbar {
  border-bottom: 1px solid;
  border-color:  #000;
  padding: 0 5px;
}

.title {
  padding: 10px;
  font-family: "Trebuchet MS";
  font-size: 24px;
}

.navtab {
  background:  #fefefe; /* Should match .contents background */
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #000;
  border-bottom: 0px solid #000;
  color: #222;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 5px;
  position: relative;
  margin: 0 4px 0 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.btn-reroll {
  background: #fefefe; 
  border: 1px solid black;
  color: #222;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 7px;
  position: relative;
  margin: 0 10px 10px 5px;
  text-align:  center;
  text-decoration: none;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  -webkit-transition: background-color 0.2s;
}

.btn-reroll:active {
  -webkit-transition: background-color 0s;
  background-color: #ccc;
}

.btn-reroll:active::after {
  background-color: #fefefe; 
}

.descriptor {
  border-radius: 3px;
  border-bottom: 3px solid;
  color: #222;
  display: inline-block;
  height: 32px;
  line-height: 40px;
  padding: 0 5px;
  position: relative;
  margin: 0 4px 4px 0;
  text-decoration: none;
  -webkit-transition: color 0.5s;
}

.descriptor:active {
  -webkit-transition: color 0s;
  color: #fefefe; /* Should match .contents background */
}

.descriptor:active::after {
  color: #eee; 
}

.descriptor-hidden {
  display:none;
}

.filter {
  display: inline-block;
  margin: 0 5px;
}

.filter-bar {  
  margin: 10px 0 0 0;
}

.btn-filter {
  border-radius: 4px;
  border: none;
  color: #eee;
  height: 30px;
  line-height: 30px;
  margin: 0 0 10px 0;
  min-width: 80px;
}

.btn-filter-inactive {
  opacity: 0.6;
  filter: brightness(50%);
}

.filter-opt-bar {
  background-color: steelblue;
}

.filter-opt {
  display: inline-block;  
  border: 1px solid steelblue;
  margin: 5px 5px;
  padding: 0 5px;
  line-height: 28px;
  height: 28px;
  color: #eee;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.filter-opt-selected {
  border: 1px solid #ddd;
}

/* Filter Colors */
.age { background: crimson; border-color: crimson; }
.clothing { background: hotpink; border-color: hotpink; }
.color { background: goldenrod; border-color: goldenrod; }
.quality { background: darkcyan; border-color: darkcyan; }
.eyes { background: springgreen; border-color: springgreen; }
.gender { background: rosybrown; border-color: rosybrown; }
.height { background: tan; border-color: tan; }
.material { background: forestgreen; border-color: forestgreen; }
.item { background: steelblue; border-color: steelblue; }
.type { background: steelblue; border-color: steelblue; } /* type is a filter for the item descriptor */
.namefirst { background: olivedrab; border-color: olivedrab; }
.namelast { background: olive; border-color: olive; }
.personality { background: mediumvioletred; border-color: mediumvioletred; }
.race { background: orangered; border-color: orangered; }
.size { background: mediumpurple; border-color: mediumpurple; }

/* Descriptor Colors */
.age-desc { border-color: crimson; }
.clothing-desc { border-color: hotpink; }
.color-desc { border-color: goldenrod; }
.quality-desc { border-color: darkcyan; }
.eyes-desc { border-color: springgreen; }
.gender-desc { border-color: rosybrown; }
.height-desc { border-color: tan; }
.material-desc { border-color: forestgreen; }
.item-desc { border-color: steelblue; }
.namefirst-desc { border-color: olivedrab; }
.namelast-desc { border-color: olive; }
.personality-desc { border-color: mediumvioletred; }
.race-desc { border-color: orangered; }
.size-desc { border-color: mediumpurple; }