#app {
  margin: auto;
  max-width: 50rem;
}
@media (max-width: 495px) {
  html {
    font-size: .6em;
  }
}
.banner {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 50rem;
  z-index: 1;
}

.header {
  line-height: 1rem;
  background-color: #ffffff;
  color: #000000;
}
.header p {
  padding: 0.25rem;
}
.header-icon {
  width: 2rem;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
}

.title-text {  
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: 0.5rem;
  vertical-align: super;
}

.navigation {
  display:flex;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background-color: #000000;
  border: #ffffff;
  border-style: solid;
  border-width: 0.25rem 0;
  border-top-width: 0;
}
.navigation::-webkit-scrollbar {
  display: none;
}

.page {
  padding-left: .6rem;
  padding-right: .6rem;
  margin-top: 5rem;
}

.button.nav-btn {  
  height: 2.2em;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-left: 0;
  height: 1.75rem;

  background-color: #000000;

  border:#000000;
  border-radius: 0;

  color: #f5f5f5;
  font-variant: small-caps;
}
.button.nav-btn.red:hover {
  color: #e23838;
}
.button.nav-btn.red.nav-selected {
  color: #e23838;
}
.button.nav-btn.orange:hover {
  color: #ffa43b;
}
.button.nav-btn.orange.nav-selected {
  color: #ffa43b;
}
.button.nav-btn.yellow:hover {
  color: #ecd500;
}
.button.nav-btn.yellow.nav-selected {
  color: #ecd500;
}
.button.nav-btn.green:hover {
  color: #00ec27;
}
.button.nav-btn.green.nav-selected {
  color: #00ec27;
}
.button.nav-btn.blue:hover {
  color: #4199ff;
}
.button.nav-btn.blue.nav-selected {
  color: #4199ff;
}
.button.nav-btn.indigo:hover {
  color: #a85cff;
}
.button.nav-btn.indigo.nav-selected {
  color: #a85cff;
}
.button.nav-btn.violet:hover {
  color: #ee82ee;
}
.button.nav-btn.violet.nav-selected {
  color: #ee82ee;
}

.button {
  margin: 1px;
  touch-action: manipulation;
}
button.reroll-all {
  margin-top: 2.5rem;
  width: 12rem;
}
.button.info-panel.reroll-all {
  width: 10rem;
}

.center {
  text-align: center;
}

.item-type-filters {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.75rem;
  border-color: #b4b4b4;
  border-width: 1px;
  border-bottom-style: solid;
}
.button.filter {
  padding: 0.5rem;
  height: 2rem;
  box-sizing: border-box;
  border: 1px solid;
  border-color: #3e8ed0;
  background-color: #4199ff;
  color: #ffffff;
  margin: 2px;
}
.button.filter.is-light {
  border: 1px solid;
  border-color: #3e8ed0;
  color: #3e8ed0;
  background-color: #d0e6ff;
  margin: 2px;
}

.button.btn-effect {
  background-color: #6800df;
  color: #ffffff;
}
.button.btn-effect.is-light {
  background-color: #e4cdff;
  color: #43008f;
}
.button.material-category {
  background-color: #3e8ed0;
  color: #ffffff;
  font-weight: 400;
  min-width: 90%;
}
.button.is-info {
  height: 2.5em;
}

.descriptor {
  height: 2.2em;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  border-bottom: 4px solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.columns {
  display: flex;
  justify-content: space-between;
}
.columns.list.left-scroll-menu {
  max-height:calc(94svh - 1rem);
}
.columns.materials {
  margin-top: -0.25rem;
}
.columns.materials.list {
  padding-right: 0.25rem;
}
.columns:not(:last-child) {
  margin-bottom: 0;
}
.column {
  overflow-y: auto;
  padding-top: 0;
  padding-bottom: 0.5rem;
}
.column.materials {
  padding-right: 0.25rem;
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
  margin: 0;
}
.column.materials.head {
  text-align: center;
}
.column.left-scroll-menu {
  max-width: 25%;
  padding-right: 0.25rem;
  padding-left: 0.5rem;
  margin-top: -2px;
}
.column.right-info-card-holder {
  padding-left: 0px;
}

.list-header {
  font-size: 1.25em;
  font-weight: 800;
  letter-spacing: 2px;
}
.list-item {
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  cursor: pointer;
  justify-content: center;
  margin: 2px;
  padding-bottom: calc(0.25em - 1px);
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: calc(0.25em - 1px);
  word-wrap: break-word;
  overflow-wrap: break-word;
  touch-action: manipulation;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.list-item.selected {
  border-color:#000000;
  border-inline-end-width: 0.4rem;
}

.info-card {
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  padding: 0.75rem;
}

.info-card.right {
  height: 100%;
  overflow: auto;
}

.info-card.material {
  margin-bottom: 0.5rem;
}

.card-header {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.card-header-left {
  margin-bottom: 0.2rem;
  margin-left: 0.75rem;
  margin-right: 1rem;
  margin-top: 0.2rem;
}

.card-title {
  font-size: 1.25rem;
  margin: 0;
}

.card-attributes {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.attribute {
  margin-right: 0.5rem;
}

.attribute.key {
  font-weight: bold;
}

.attribute.key.info {
  line-height: 2em;
}

.card-description {
  margin-top: 0.25rem;
  font-size: 0.875rem;
}

.info-panel-description {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 2.5em;
}

.no-descriptors {
  margin: 0;
  line-height: 1.3em;
}

/* Width and height of the scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Background color of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888888;
}

/* Hover state of the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}