#app {
  margin: auto;
  margin-top: 1rem;
  max-width: 50rem;
}
@media (max-width: 390px) {
  html {
    font-size: .6em;
  }
}
.title {
  padding-left: 8px;

}
.navigation {
  padding-left: 8px;
}

.button {
  margin: 1px;
  touch-action: manipulation;
}
.descriptor {
  height: 2.2em;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  border-bottom: 4px solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.objects-page {
  padding: 8px;
}

.item-type-filters {
  background-color: lightsteelblue;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button.btn-effect {
  background-color: #6800df;
  color: #fff;
}
.button.btn-effect.is-light {
  background-color: #e4cdff;
  color: #43008f;
}
.button.filter {
  box-sizing: border-box;
  border: 2px solid;
  border-color: #3e8ed0;
  margin: 2px;
}
.button.filter.is-light {
  border: 0px solid;
  background-color: lightsteelblue;
  color: #ffffff;
  margin: 2px;
}
.button.material-category {
  background-color: #3e8ed0;
  color: #fff;
  font-weight: 400;
  min-width: 90%;
}
.button.is-info {
  height: 2.5em;
}

.columns {
  margin: 2px;
  display: flex;
  justify-content: space-between;
}
.columns.list {
  height: min(50vh, 600px); /* 50% of the viewport height */
}
.columns.list.left-scroll-menu {
  height: 90svh;
}
.columns.materials {
  margin: 2px;
}

.column {
  overflow-y: auto; /* enable scrolling if column exceeds fixed height */
}
.column.materials {
  padding-top: 0px;
  padding-bottom: 0px;
}
.column.materials.header {
  text-align: center;
  padding: 0px;
}
.column.left-scroll-menu {
  max-width: 25%;
  padding-top: 0.6em;
  padding-left: 2px;
  padding-right: 2px;
}
.column.right-info-card-holder {
  padding-left: 0px;
}

.list-header {
  font-size: 1.25em;
  font-weight: 800;
  letter-spacing: 2px;
}
.list-item {
  background-color: #fff;
  border: solid #b4b4b4;
  border-radius: 3px;
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  margin: 2px;
  padding-bottom: calc(0.25em - 1px);
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: calc(0.25em - 1px);
  word-wrap: break-word; /* break words that exceed button width */
  overflow-wrap: break-word; /* break words that exceed button width */
  touch-action: manipulation;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.info-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.info-card.material {
  margin: 10px;
}
.info-card.right {
  height: 100%; /* 75% of the viewport height */
  overflow: auto;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.card-header-left {
  margin-bottom: 0.2rem;
  margin-left: 0.75rem;
  margin-right: 1rem;
  margin-top: 0.2rem;
}

.card-image {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.card-header-right {
  flex: 1;
}

.card-title {
  font-size: 1.25rem;
  margin: 0;
}

.card-attributes {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.attribute-key {
  margin-right: 0.5rem;
  font-weight: bold;
}

.attribute-value {
  margin-right: 0.5rem;
}

.card-description {
  margin: 0;
  font-size: 0.875rem;
}

.info-panel-description {
  margin: 0;
  line-height: 2.5em;
}
.no-descriptors {
  margin: 0;
  line-height: 1.3em;
}

/* Width and height of the scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Background color of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Hover state of the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}